<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Voler Admin Dashboard</title>

    <link rel="stylesheet" href="/static/css/bootstrap.css">

    <link rel="stylesheet" href="/static/vendors/chartjs/Chart.min.css">

    <link rel="stylesheet" href="/static/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="shortcut icon" href="/static/images/favicon.svg" type="image/x-icon">
</head>
<body>
     <div class="sidebar-menu" th:fragment="sidebar(menu)">
         <ul class="menu">
             <li class='sidebar-title'>메인 메뉴</li>
             <li class="sidebar-item active ">
                 <a href="index.html" class='sidebar-link'>
                     <i data-feather="home" width="20"></i>
                     <span>Home</span>
                 </a>
             </li>

             <li class='sidebar-title'>관리</li>
             <li class="sidebar-item  has-sub"  th:each="i : ${#numbers.sequence(0, (menu.size()-1))}">
                 <a href="#" class='sidebar-link'>
                     <i data-feather="triangle" width="20"></i>
                     <span th:text="${menu.get(i).getName()}">상품관리</span>
                 </a>
                 <ul class="submenu ">
                     <li th:each="j : ${#numbers.sequence(0, (menu.get(i).getMenuList().size()-1))}">
                         <a th:href="@{${menu.get(i).getMenuList().get(j).getLink()}}"
                            th:if="${menu.get(i).getMenuList().size() > 0}"
                            th:text="${menu.get(i).getMenuList().get(j).getName()}">상품 등록</a>
                     </li>
                 </ul>
             </li>
         </ul>
     </div>
<script src="/static/js/feather-icons/feather.min.js"></script>
<script src="/static/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/static/js/app.js"></script>

<script src="/static/vendors/chartjs/Chart.min.js"></script>
<script src="/static/vendors/apexcharts/apexcharts.min.js"></script>
<script src="/static/js/pages/dashboard.js"></script>
<script src="/static/js/jquery-3.3.1.min.js"></script>


<script src="/static/js/main.js"></script>
</body>
</html>
